language: bash
dist: trusty
sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get upgrade -y
  - docker version
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      export DOCKER_TAG="latest";
    else
      export DOCKER_TAG=$TRAVIS_BRANCH;
    fi

install:
  - docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%d_%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` -t $DOCKER_IMAGE/$DOCKER_IMAGE:$DOCKER_TAG .

after_success:
  - docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
  - docker push $DOCKER_IMAGE/$DOCKER_IMAGE:$DOCKER_TAG
