language: bash
dist: trusty
sudo: required

env:
  global:
    - BUILD_DATE="`date -u +%Y-%m-%dT%H:%M:%SZ`"
    - BUILD_NUMBER="${TRAVIS_BUILD_NUMBER}"
    - DESCRIPTION="`bash docker.labels/description`"
    - MAINTAINER="stlouisn"
    - NAME="`bash docker.labels/name`"
    - SCHEMA_VERSION="1.0"
    - URL="`bash docker.labels/url`"
    - VCS_REF="`git rev-parse --short HEAD`"
    - VCS_URL="`git remote get-url origin | head -c-5`"
    - VERSION="`bash docker.labels/version`"

before_install:
  - sudo apt-get update -q
  - sudo apt-get upgrade -q -y
  - docker version

install:
  - echo ${VERSION} > docker.rootfs/${NAME}_version
  - export VERSION=`echo ${VERSION} | awk -F "-" '{print $1}'`
  - echo ${VERSION}

before_script:
  - if [ "${TRAVIS_BRANCH}" == "master" ]; then
      export DOCKER_TAG="latest";
    else
      export DOCKER_TAG="${TRAVIS_BRANCH}";
    fi

script:
  - >
    docker build
    --label org.label-schema.build-date=${BUILD_DATE}
    --label org.label-schema.build-number=${BUILD_NUMBER}
    --label org.label-schema.description="${DESCRIPTION}"
    --label org.label-schema.maintainer=${MAINTAINER}
    --label org.label-schema.name=${NAME}
    --label org.label-schema.schema-version=${SCHEMA_VERSION}
    --label org.label-schema.url=${URL}
    --label org.label-schema.vcs-ref=${VCS_REF}
    --label org.label-schema.vcs-url=${VCS_URL}
    --label org.label-schema.version=${VERSION}
    --tag ${DOCKER_USERNAME}/${DOCKER_IMAGE}:${DOCKER_TAG} .

after_success:
  - docker login --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}
  - docker push ${DOCKER_USERNAME}/${DOCKER_IMAGE}:${DOCKER_TAG}

notifications:
  email:
    on_success: never
    on_failure: change
